@font-face {
  font-family: "super mario font";
  src: url(../assets/emulogic.ttf);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: cornflowerblue;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  color: rgb(17, 16, 15);
  font-size: 25px;
  font-weight: normal;
  font-family: "super mario font";
}

/* .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 500px;
    font-family: "VT323", monospace;
    background-color: cornsilk;
  } */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "super mario font";
  margin: 100px;
  font-size: 15px;
}

.type {
  width: 75px;
  background-color: green;
  font-size: 17px;
  margin: 25px;
  font-family: "super mario font";
}

.color {
  color: rgb(236, 150, 19);
  background-color: rgb(44, 42, 39);
  border-radius: 10px;
  margin-top: 10px;
  width: 100px;
  height: 25px;
  font-family: "super mario font";
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "super mario font";
}

.counter div {
  font-size: 25px;
  font-family: "super mario font";
}
